:root {
  --project-color: #0396A6;
}

.splash_image {
  grid-column: 9 / 13;
  padding-top: 10%;
  margin-left: 10px;
  grid-row: 1 / span 2;
  float: right;
  height: 88%;
}

@media all and (max-width: 1024px) {
  .splash_image {
    height: 60vh;
    grid-column: 8 / 13;
    margin-left: 25px;
  }
}

@media all and (max-width: 680px) {
  .splash_image {
    grid-column: 3 / 7;
    height: 42vh;
    padding-top: 25%;
  }
}