:root {
  --project-color: #dccfe4;
}

.splash_image {
  grid-column: 9 / 13 !important;
  margin-left: 10px;
  grid-row: 1 / span 2;
  float: right;
  height: 88%;
}

@media all and (max-width: 1024px) {
  .splash_image {
    height: 50vh;
    grid-column: 8 / 13 !important;
    margin-left: 16px;
  }
}

@media all and (max-width: 680px) {
  .splash_image {
    grid-column: 3 / 7 !important;
    height: 38vh;
    padding-top: 0;
  }
}