:root {
  --project-color: #a7cad0;
}

.splash_image {
  border-radius: 1.3rem;
  box-shadow: 3px 3px 12px #5c797d;
}

#slide-1, #slide-2, #slide-3, #slide-4, #slide-5, #slide-6 {
  width: 250px;
}

#slide-1 {
  background-image: url("../img/leadnet/iphone_1_gr.png");
}

#slide-2 {
  background-image: url("../img/leadnet/iphone_2_gr.png");
}

#slide-3 {
  background-image: url("../img/leadnet/iphone_3_gr.png");
}

#slide-4 {
  background-image: url("../img/leadnet/iphone_4_gr.png");
}

#slide-7, #slide-8, #slide-9 {
  width: 530px;
  height: 87%;
}

#slide-7 {
  background-image: url("../img/leadnet/ipad_1_gr.png");
}

#slide-8 {
  background-image: url("../img/leadnet/ipad_2_gr.png");
}

#slide-9 {
  background-image: url("../img/leadnet/ipad_3_gr.png");
}