@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:400,400i,700,700i&display=swap');

* {
  margin: 0;
  padding: 0;
  border-style: none;
  border: none;
}

html, body {
  width: 100%;
  scroll-behavior: smooth;
}

::-moz-selection {
  /* Code for Firefox */
  background: var(--project-color);
}

::selection {
  background: var(--project-color);
}

a:focus {
  outline: solid var(--project-color) 4px;
}

/*------------------- Texte / General -------------*/
header {
  padding-top: 3%;
  padding-bottom: 2%;
  background-color: white;
}

body {
  font-family: 'Alegreya Sans', Verdana, sans-serif;
  font-size: 101%;
  /*16px=100%*/
  line-height: 1.15em;
  -webkit-font-feature-settings: "lnum";
  -moz-font-feature-settings: "lnum";
  -ms-font-feature-settings: "lnum";
  -o-font-feature-settings: "lnum";
  font-feature-settings: "lnum";
}

footer {
  width: 95%;
  background-color: black;
  color: white;
  text-align: right;
  padding: 10% 5% 5% 0;
  margin-top: 5%;
}

.social-media {
  padding: 0% 0% 0% 5%;
  float: left;
}

.social-media a {
  float: left;
  width: 40px;
  align-items: baseline;
  /* background-color: salmon; */
}

footer a {
  color: white;
}

img {
  max-width: 100%;
  height: auto;
}

video {
  max-width: 100%;
  height: auto;
}

/*---------------loader---------------*/
/* This only works with JavaScript,
if it's not present, don't show loader */
.no-js #loader {
  display: none;
}

.js #loader {
  display: block;
  position: absolute;
  left: 100px;
  top: 0;
}

.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(img/loader_palmtree.gif) center no-repeat #fff;
}

/*------------------------------------------------font-styles-------------------------------------------------*/
h1 {
  font-size: 6.5rem;
  font-weight: 400;
  line-height: 0.8;
  display: inline-block;
}

h2 {
  font-size: 4.5rem;
  font-weight: 400;
  line-height: 0.8;
  display: inline-block;
}

h3 {
  font-weight: 400;
  font-size: 140%;
  margin-block-start: 0em;
  padding-bottom: 3%;
  text-transform: uppercase;
}

h4 {
  padding-top: 5%;
  padding-bottom: 15%;
  font-weight: 400;
  font-size: 130%;
}

p {
  font-size: 80%;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  /* background-color: #95a5a6; */
  text-decoration: underline;
  cursor: pointer;
  cursor: url('../img/arrow-.svg'), auto;
}

.rolecontext {
  text-transform: uppercase;
  padding-bottom: 5%;
}

/*------------------------------------------------ grid -------------------------------------------------*/
.wrapper:nth-child(even) {
  background: white;
}

.wrapper:nth-child(odd) {
  background: Gainsboro;
}

.grid-container {
  width: 92%;
  margin: 0% 4% 0 4%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(auto);
  grid-gap: 0% 2%;
}

.padding-top {
  padding-top: 8%;
}

.padding-bottom {
  /* padding-top: 8%; */
  padding-bottom: 8%;
}

/*----------------- grid header ------- */
.header_left {
  grid-column: 1 / 4;
}

.header_right {
  grid-column: 11 / 13;
  text-align: right;
  z-index: 1;
}

/*----------------- grid splash ------- */
.splash {
  height: 90vh;
}

.splash_title {
  grid-column: 1 / 8;
  padding-top: 30%;
}

.splash_description {
  grid-column: 2 / 8;
  line-height: 1.5em;
  padding-right: 10%;
}

.splash_right {
  position: absolute;
  top: 0;
  right: 0;
  height: 102.5vh;
  width: 41%;
  grid-column: 8 / 13;
}

.splash_image {
  grid-column: 10 / 13;
  grid-row: 1 / span 2;
  float: right;
  height: 85%;
  z-index: 1;
}

.splash-tablet {
  grid-column: 8 / 13;
  grid-row: 1 / span 2;
  float: right;
  margin-left: 30px;
  padding-top: 7%;
  z-index: 1;
}

/*----------------- grid text boxes ------- */
.index-title {
  grid-column: 2 / 12;
  padding-top: 20%;
  line-height: 4em;
}

.index-arrow {
  grid-row: 3;
  grid-column: 6 / span 2;
  width: 30px;
  margin: 0 auto;
  scroll-behavior: smooth;
}

.index-about {
  text-align: right;
  grid-column: 11 / span 2;
  grid-row: 3;
  float: right;
}

#index-navigation {
  margin-left: auto;
  margin-right: auto;
  width: 55%;
  padding-top: 8%;
  padding-bottom: 4%;
}

.index-navigation-element {
  display: inline-block;
  width: 23%;
}

.index-navigation-element p {
  font-size: 101%;
}

.project_box_title_left {
  grid-column: 2 / 7;
  padding-top: 25%;
}

.project_box_title_right {
  /* background:pink; */
  grid-column: 8 / 13;
  grid-row: 1 / 2;
  padding-top: 25%;
}

.project_box_description_left {
  /* background:aqua; */
  grid-column: 3 / 7;
  /* padding-bottom: 20%; */
}

.plus2 {
  grid-column: 3 / 9 !important;
}

.plus1 {
  grid-column: 3 / 8 !important;
}

.project_box_description_right {
  /* background: pink; */
  grid-column: 9 / 13;
  /* padding-bottom: 20%; */
}

.project_box_subtitle {
  /* background:darkblue; */
  grid-column: 3 / 7;
  padding-top: 12%;
  /*padding-bottom: 20%; */
}

.project_box_title_left, .project_box_title_right, .project_box_subtitle h3 {
  line-height: 1.2em;
}

/*----------------- grid images & link ------- */
.havealookat {
  grid-column: 9 / 12;
}

.project_image_slider {
  /* background: purple; */
  grid-column: 2 / 13;
  padding-top: 7%;
}

.project_image_slider {
  overflow: hidden;
}

.project_image_grid {
  grid-column: span 3;
  padding-top: 10%;
  padding-bottom: 5%;
}

.project_image_grid_start {
  grid-column: 3 / span 3;
  padding-top: 10%;
  padding-bottom: 5%;
}

.image-right {
  float: right;
  grid-column: 10 / span 3;
  grid-row: auto;
}

.image-right-bigger {
  grid-column: 8 / span 5;
}

.image-fullwidth {
  grid-column: 3 / 13;
  padding-top: 5%;
}

/*------------- COLOURS -----------------*/
.splash-bg {
  background-color: var(--project-color);
}

.splash-box {
  box-shadow:
    inset 0em -0.15em 0 0 white,
    inset 0 -0.4em var(--project-color);
  display: inline;
}

/*------------------------------------------------images / projekte -------------------------------------------------*/
.slider {
  width: 95%;
  height: 500px;
  padding-bottom: 5%;
  display: flex;
  overflow-x: auto;
  /* background-color:red; */
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.slide {
  width: 240px;
  flex-shrink: 0;
  height: 100%;
  margin-right: 3%;
  background-size: cover;
}

.slides>div {
  scroll-snap-align: start;
}

.prev-project {
  padding-top: 35%;
  padding-bottom: 10%;
  margin-bottom: -45px;
  grid-column: 1/3;
}

.next-project {
  padding-top: 35%;
  padding-bottom: 10%;
  margin-bottom: -45px;
  grid-column: 11/13;
  text-align: right;
}

.prev-project h3, .next-project h3 {
  text-transform: none !important;
  font-size: 101%;
}

@media all and (max-width: 1024px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
  .splash_image {
    height: 62vh;
    grid-column: 9 / 13;
    padding-top: 37%;
  }

  .splash-tablet {
    height: 52vh;
  }

  .splash_right {
    height: 99.2vh;
  }
}

@media all and (max-width: 680px) {
  header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
  }

  h1 {
    font-size: 300%;
  }

  h3 {
    line-height: 1.3em;
  }

  .grid-container {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto 1fr auto;
  }

  .splash_title {
    /* background: blue; */
    grid-column: 1 / 7;
    margin-top: 300px;
  }

  .splash_titleh2 {
    line-height: 2em;
  }

  .splash_description {
    grid-column: 2 / 7;
  }

  .splash_right {
    left: 0;
    height: 55vh;
    width: 100%;
  }

  .splash_image {
    grid-column: 5 / 7;
    float: right;
    height: 42vh;
    padding-top: 37%;
    z-index: 0;
  }

  .splash-tablet {
    grid-column: 2 / 7;
    float: right;
    z-index: 0;
    float: right;
    height: auto;
    padding-top: 4em;
    margin-left: 0;
  }

  .splash {
    padding-bottom: 50px;
    background-color: white;
  }

  .index-title {
    grid-column: 2 / 6;
    padding-top: 60%;
    line-height: 0.7 em;
  }

  .index-arrow {
    grid-row: 3;
    grid-column: 3 / span 2;
  }

  .index-about {
    text-align: right;
    grid-column: 5 / span 2;
    grid-row: 3;
    z-index: 1;
    float: right;
  }

  #index-navigation {
    margin-left: auto;
    margin-right: auto;
    width: 55%;
    padding-top: 4%;
  }

  .index-navigation-element {
    display: inline-block;
    width: 22%;
  }

  .index-navigation-element p {
    font-size: 101%;
  }

  .project_box_title_left, .project_box_title_right {
    grid-column: 1 / 7;
    grid-row: auto;
    padding-top: 20%;
  }

  .project_box_description_left, .project_box_description_right, .havealookat {
    grid-column: 2 / 7;
    padding-bottom: 20%;
  }

  .project_box_subtitle {
    grid-column: 2 / 7;
    /* padding-top: 20%;
    padding-bottom: 20%; */
  }

  .project_image_grid, .project_image_grid_start {
    grid-column: 2 / span 5;
    padding-top: 4%;
  }

  .image-right {
    grid-column: 3 / span 4;
  }

  .image-right-bigger {
    grid-column: 2 / span 5;
  }

  .prev-project {
    padding-top: 25%;
    margin-bottom: 0%;
    grid-column: 1/4;
  }

  .next-project {
    padding-top: 25%;
    margin-bottom: 0%;
    grid-column: 4/7;
    text-align: right;
  }
}

@media only screen and (max-width:450px) {
  .splash_image {
    grid-column: 4 / 7;
    float: right;
    height: 43vh;
    padding-top: 37%;
    z-index: 0;
  }
}

@media print {
  .grid-container {
    width: 110%;
    margin: 0% 0% 0 0%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(auto);
    grid-gap: 0% 2%;
  }
}

/*

@media only screen and (max-width:735px) {
  .grid-container {
  margin: 2% 1% 0 1%;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-column-gap: 2%;
  grid-row-gap: 10px;
  grid-template-areas:
    ".  caption"
    "text text"}
}






@media print {
    #cssmenu { display: none !important;

    }
}

*/