:root {
  --project-color: #F8D51C;
}

header {
  padding-top: 3%;
  padding-bottom: 2%;
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.grid-container-index {
  width: 92%;
  margin: 0% 4% 10% 4%;
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  grid-template-rows: repeat(auto);
  grid-gap: 0% 2%;
}

.project_image_grid, .project_image_grid_start {
  box-shadow: none;
}

.project_image_grid img:hover, .project_image_grid_start img:hover {
  box-shadow: 4px 4px 12px #79a2af73;
}

/* -------------------- The typewriter effect -------------------- */
.css-typing-mobile {
  display: none;
}

.css-typing h1 {
  border-right: .05em solid #F8D51C;
  /* font-family: "Courier";
  font-size: 14px; */
  white-space: nowrap;
  overflow: hidden;
}

.css-typing h1:nth-child(1) {
  width: 9.4em;
  -webkit-animation: type 2s steps(40, end);
  animation: type 2s steps(40, end);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.css-typing h1:nth-child(2) {
  width: 9.5em;
  opacity: 0;
  -webkit-animation: type2 2s steps(40, end);
  animation: type2 2s steps(40, end);
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.css-typing h1:nth-child(3) {
  width: 7.3em;
  opacity: 0;
  -webkit-animation: type3 5s steps(20, end), blink .5s step-end infinite alternate;
  animation: type3 1.5s steps(20, end), blink .5s step-end infinite alternate;
  -webkit-animation-delay: 5.5s;
  animation-delay: 5.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes type {
  0% {
    width: 0;
  }

  99.9% {
    border-right: .05em solid #F8D51C;
  }

  100% {
    border: none;
  }
}

@-webkit-keyframes type {
  0% {
    width: 0;
  }

  99.9% {
    border-right: .05em solid #F8D51C;
  }

  100% {
    border: none;
  }
}

@keyframes type2 {
  0% {
    width: 0;
  }

  1% {
    opacity: 1;
  }

  99.9% {
    border-right: .05em solid #F8D51C;
  }

  100% {
    opacity: 1;
    border: none;
  }
}

@-webkit-keyframes type2 {
  0% {
    width: 0;
  }

  1% {
    opacity: 1;
  }

  99.9% {
    border-right: .05em solid #F8D51C;
  }

  100% {
    opacity: 1;
    border: none;
  }
}

@keyframes type3 {
  0% {
    width: 0;
  }

  1% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes type3 {
  0% {
    width: 0;
  }

  1% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@-webkit-keyframes blink {
  50% {
    border-color: tranparent;
  }
}

/*--------- index arrow -------------*/
.slideInDown-Index {
  animation: 8s ease-in slideInDown-Index;
  -webkit-animation: 8s ease-in slideInDown-Index;
}

@keyframes slideInDown-Index {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50px);
  }

  80% {
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
  }
}

@-webkit-keyframes slideInDown-Index {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50px);
  }

  80% {
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
  }
}

@media all and (max-width: 1024px) {
  .grid-container-index {
    margin: 9% 4% 10% 4%
  }
}

@media all and (max-width: 900px) {
  .grid-container-index {
    margin: 12% 4% 10% 4%
  }
}

@media all and (max-width: 680px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
  .grid-container-index {
    width: 92%;
    margin: 0% 4% 0 4%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(auto);
    grid-gap: 0% 2%;
  }

  .project_image_grid_start, .project_image_grid {
    grid-column: span 3;
  }

  /*--------------effekr-----------------*/
  .css-typing {
    display: none;
  }

  .css-typing-mobile {
    display: inline;
  }

  .css-typing-mobile h1 {
    border-right: .05em solid #F8D51C;
    white-space: nowrap;
    overflow: hidden;
  }

  .css-typing-mobile h1:nth-child(1) {
    width: 4.7em;
    -webkit-animation: type 1s steps(40, end);
    animation: type 1s steps(40, end);
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }

  .css-typing-mobile h1:nth-child(2) {
    width: 4.7em;
    opacity: 0;
    -webkit-animation: type2 1s steps(40, end);
    animation: type2 1s steps(40, end);
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }

  .css-typing-mobile h1:nth-child(3) {
    width: 6em;
    opacity: 0;
    -webkit-animation: type2 1.3s steps(40, end);
    animation: type2 1.3s steps(40, end);
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }

  .css-typing-mobile h1:nth-child(4) {
    width: 3.5em;
    opacity: 0;
    -webkit-animation: type2 0.8s steps(40, end);
    animation: type2 0.8s steps(40, end);
    -webkit-animation-delay: 3.3s;
    animation-delay: 3.3s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }

  .css-typing-mobile h1:nth-child(5) {
    width: 5.4em;
    opacity: 0;
    -webkit-animation: type2 1.3s steps(20, end);
    animation: type2 1.3s steps(20, end);
    -webkit-animation-delay: 4s;
    animation-delay: 4.4s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }

  .css-typing-mobile h1:nth-child(6) {
    width: 2.2em;
    opacity: 0;
    -webkit-animation: type3 0.6s steps(20, end), blink .5s step-end infinite alternate;
    animation: type3 0.6s steps(20, end), blink .5s step-end infinite alternate;
    -webkit-animation-delay: 4.5s;
    animation-delay: 5.8s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }

  @keyframes type {
    0% {
      width: 0;
    }

    99.9% {
      border-right: .05em solid #F8D51C;
    }

    100% {
      border: none;
    }
  }

  @-webkit-keyframes type {
    0% {
      width: 0;
    }

    99.9% {
      border-right: .05em solid #F8D51C;
    }

    100% {
      border: none;
    }
  }

  @keyframes type2 {
    0% {
      width: 0;
    }

    1% {
      opacity: 1;
    }

    99.9% {
      border-right: .05em solid #F8D51C;
    }

    100% {
      opacity: 1;
      border: none;
    }
  }

  @-webkit-keyframes type2 {
    0% {
      width: 0;
    }

    1% {
      opacity: 1;
    }

    99.9% {
      border-right: .05em solid #F8D51C;
    }

    100% {
      opacity: 1;
      border: none;
    }
  }

  @keyframes type3 {
    0% {
      width: 0;
    }

    1% {
      opacity: 1;
    }

    100% {
      opacity: 1;
    }
  }

  @-webkit-keyframes type3 {
    0% {
      width: 0;
    }

    1% {
      opacity: 1;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }

  @-webkit-keyframes blink {
    50% {
      border-color: tranparent;
    }
  }