:root {
  --project-color: #F8D51C;
}

header {
  padding-top: 3%;
  padding-bottom: 2%;
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.grid-container-index {
  width: 92%;
  margin: 0% 4% 0 4%;
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  grid-template-rows: repeat(auto);
  grid-gap: 0% 2%;
}

.project_image_grid, .project_image_grid_start {
  box-shadow: none;
}

.project_image_grid img:hover, .project_image_grid_start img:hover {
  box-shadow: 4px 4px 12px #79a2af73;
}

/* -------------------- The typewriter effect -------------------- */
.typewriter h1 {
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  border-right: .15em solid #F8D51C;
  /* The typwriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin: 0 auto;
  /* Gives that scrolling effect as the typing happens */
  animation:
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
  display: inline-flex;
}

.line2 h1 {
  overflow: hidden;
  border-right: .15em solid #F8D51C;
  white-space: nowrap;
  margin: 0 auto;
  animation:
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
  animation-delay: 3.5s;
  visibility: hidden;
  animation-fill-mode: forwards;
}

.line3 h1 {
  animation-delay: 6.5s;
  visibility: hidden;
  animation-fill-mode: forwards;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 100%
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to {
    border-color: transparent
  }

  50% {
    border-color: #F8D51C;
  }
}

@media all and (max-width: 1024px) {
  .grid-container-index {
    margin: 9% 4% 0 4%
  }
}

@media all and (max-width: 900px) {
  .grid-container-index {
    margin: 12% 4% 0 4%
  }
}

@media all and (max-width: 680px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
  .grid-container-index {
    width: 92%;
    margin: 0% 4% 0 4%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(auto);
    grid-gap: 0% 2%;
  }

  .project_image_grid_start, .project_image_grid {
    grid-column: span 3;
  }